@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, #9b77f72f, #652cf57e);
    background-repeat: no-repeat;
    height: 740px;
    width: 100%;
    min-width: 370px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    min-width: 710px;
    font-family: 'Oswald', sans-serif;
}

/** Estilo do header: **/


#banner{
    background-color:#4A3875;
    height: 115px;
    text-align: center;
    padding-top: 90px;

    color:#9B77F7;
  
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.575);
    
    
}
/**
h1{
   
    font-family: 'Dela Gothic One', cursive;
    font-size: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.342);
    

    position: relative;
    top: -50px;
    left: 240px;
}
*/
#logo{
    position: relative;
    top: -160px;
    width: 250px;
    height: 250px;

   
}



.lista{
    list-style: none;
}

.lista > li{
    display: inline;
    padding: 20px;
}

.lista > li > a{
    text-decoration: none;
    color: #9B77F7;
   
    display: inline-block;
    padding: 8px 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 5px 2px;
    
}

#menu > ul > li > a:hover{
    background-color: #5023c252;
    -webkit-box-shadow: 0 3px 10px 0 rgba(204, 204, 204, 0.164);
    transition: background .4s;
}


#right > li:last-child a{
    background-color: #652CF5;
    color: white;
   float: right;
    position: relative;
    left: 300px;
  
}

#right{
    position: relative;
   top: -320px;
    left: -330px;
}


#left{
    position: relative;
    top: -285px;
    left: -200px;
}

#title{
    position: relative;
    top: -680px;
    left: 820px;

    font-size: 50px;
    color: #9B77F7;
    text-shadow: 8px 8px 0 rgba(255,0,180,0.5);

    display: none;
}


/**--------------------------------------------------------------------**/

/**Parte do main:**/

#fundo{
 text-align: left;
 position: relative;

left: 20px;
}

/*#image2{
    position: relative;
    top: 120px;
    right: 70px;
}

#image3{
    position: relative;
    right: 700px;
    top: 150px;
}*/


.content-menu{
    float: right;
    background-image: linear-gradient(to bottom, #101ee8ad,#101ee863, white);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.199);
    
    width: 380px;
    height: 340px;

    position: relative;
    top: -480px;
    right: 195px;
    

   
    border-radius: 20px 5px;

    
}


#frase{
    position: relative;
    top: -510px;
    left: 700px;

    font-size: 23px;
    font-family:  'Lobster', cursive;
    color: #4A3875;
}
.content-menu > h2{
    font-family:'Patua One', cursive;
    font-size: 35px;
    text-align: center;
    position: relative;
    top: -15px;
    color: #7813DC;

}

.content-menu > img{
    position: relative;
    right: -38px;
    align-items: center;

    -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}

.content-menu:hover img{
   
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(0.9);
}

.content-menu:hover{
    opacity: 1;
    box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.210);
    transition: .5s;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(0.9);
} 

.brush{
   
   border-radius: 20px 5px;
   
    width: 400px;
    height: 350px;

    position: relative;
    top: -348px;
    
}

#cronos{
    display: none;
}

#estatic{
    display: none;
}

#aulas{
    display: block;
}

.setas{
    opacity: 0.2;
    transition: .2s;
    
}

#esquerda{
    position: relative;
    left: 810px;
    top: -370px; 
    
}.setas:hover{
    opacity: 0.5;
    transition: opacity .2s linear;
}

#direita{
    position: relative;
    left: 1183px;
    top: -370px;
}
/**-----------------------------------------------------------**/

/**Footer:**/

#rodape{
    text-align: center;
    position: relative;
    left: 190px;
    top: -80px;
  
}



